body{
	background-color: rgb(228, 243, 182);
}

p::selection{
	background-color: none /*rgb(182, 103, 61)*/;
	color: navy/*rgb(254, 205, 187)*/;
}
b::selection{
	background-color: none /*rgb(182, 103, 61)*/;
	color: navy/*rgb(254, 205, 187)*/;
}
p{
	text-align: justify;
	font-family: sans-serif;
	color: rgb(157, 94, 36);
	font-size: 16pt;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .choo{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.choo div{
	padding: 5px;
	margin-right: 10px;
	border-radius: 15px 10px 15px 0;
	border: gray solid 2px;
	transition: 0.2s ease-in;
	cursor: default;
}
.choo div:hover{
	border-radius: 15px 0 15px 10px;
	border: #bbb solid 2px;

}
.choo div::selection{
	background: none;
	color: none;
}


.choo a{
	text-decoration: none;
	color:green;
}

.logout {
	border: grey solid 2px;
	padding: 6px;
	border-radius: 15px 0;
	margin-left: 60%;
}

.logout a{
	text-decoration: none;
	color: orange;
}
.logout:hover {
	border-radius: 20px 0;
	color:black;
	background: rgb(258, 273, 212);
	transition: all 0.2s ease;
	cursor: default;
}

h2{
	font-family: sans-serif;
	color: rgb(157, 94, 36);
}
h4{
	font-family: sans-serif;
	color: rgb(157, 94, 36);
}
h3{
	font-family: sans-serif;
	color: rgb(157, 94, 36);
}